html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 70px;
    background: url('../images/mountain.svg') no-repeat center center fixed; /*https://pixabay.com/vectors/mountains-panorama-forest-mountain-1412683/*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer {
    position: absolute !important;
    bottom: 0;
    height: 60px;
    width: 100%;
}
header {
    padding-top: 30px;
    padding-bottom: 30px;
}
.display-mobile {
    display: none !important;
}
.header-nav-bar {
    background-color: #1e1e1e !important;
    border-radius: 10px !important;
    height: 75px !important;
    z-index: 1;
}
.header-dropdown {
    background-color: #1e1e1e !important; 
    color: white !important;
    padding-top: 35px !important;
    border-radius: 0px 0px 10px 10px !important;
}
.repo-logos div {
    padding-top: 5%;
}
#header-icon {
    border: 2px solid #ffffff;
}
#header_dropdown_button {
     background-color: #1e1e1e; 
     border-radius: 5px; 
     color: #ffffff;
     font-size: 25px; 
     padding-top: 3px; 
     padding-bottom: 4px;
}
#header_dropdown_button:focus {
    outline: 0;
}
.full-width {
    width: 100% !important;
}
.header-title-div {
    margin-left: 20px !important;
}
.header-subtitle {
    padding-left: 2px !important;
}
.content-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}
.content-body {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-links li {
    padding-left: 15px !important;
}
.white-text {
    color: #ffffff !important;
}
.valign-center {
    display: flex !important;
    align-items: center !important;
}
.no-margin {
    margin: 0px !important;
}
@media (max-width: 850px) {  
    .hide-mobile {
        display: none !important;
    }
    .display-mobile {
        display: block !important;
    }
    .square-bottoms {
       border-radius: 10px 10px 0px 0px !important;
    }
}
@media (max-width: 500px) {  
    .header-title h1 {
        font-size: 24px;
    }
    .header-title h4 {
        font-size: 14px;
    }
    .col-xs-5, .col-xs-offset-1 {
        width: 100% !important;
        margin: 0px !important;
    }
}
@media (max-width: 420px) {  
    .header-title {
        display: none;
    }
    .tiny-screen {
        text-align: center;
    }
}