.display-mobile {
    display: none !important;
}

.header-nav-bar {
    background-color: #1e1e1e !important;
    border-radius: 10px !important;
    height: 75px !important;
    z-index: 1;                                                      /*PULLS HEADER TO FRONT. MIGHT BE TEMPORARY*/
}

.header-dropdown {
    background-color: #1e1e1e !important; 
    color: white !important;
    padding-top: 35px !important;
    border-radius: 0px 0px 10px 10px !important;
}

.repo-logos div {
    padding-top: 5%;
}

@media (max-width: 850px) {  
    .hide-mobile {
        display: none !important;
    }
    .display-mobile {
        display: block !important;
    }
    .square-bottoms {
       border-radius: 10px 10px 0px 0px !important;
    }
    
}

@media (max-width: 500px) {  
    .header-title h1 {
        font-size: 24px;
    }
    .header-title h4 {
        font-size: 14px;
    }
    .col-xs-5, .col-xs-offset-1 {
        width: 100% !important;
        margin: 0px !important;
    }
    
}

@media (max-width: 420px) {  
    .header-title {
        display: none;
    }
    .tiny-screen {
        text-align: center;
    }
}


#header_dropdown_button {
     background-color: #1e1e1e; 
     border-radius: 5px; 
     color: #ffffff;
     font-size: 25px; 
     padding-top: 3px; 
     padding-bottom: 4px;
}

#header_dropdown_button:focus {
    outline: 0;
}
.full-width {
    width: 100% !important;
}



header {
    padding-top: 40px;
}



.header-links li {
    padding-left: 15px !important;
}

.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-right-10 {
    padding-right: 10px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}
.white-text {
    color: #ffffff !important;
}
.valign-center {
    display: flex !important;
    align-items: center !important;
}
.no-margin {
    margin: 0px !important;
}

html {
    position: relative;
    min-height: 100%;

  

}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;

    background: url('../images/mountain_road_FULL.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

/*background: #ECE9E6; /* fallback for old browsers */
/*background: -webkit-linear-gradient(#ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(#FFFFFF , #d1c7e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
        
}
.footer {
    position: absolute !important;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 70px;
    border-top: 1px solid #b2b2b2;
}