.display-mobile {
    display: none !important;
}

.header-nav-bar {
    background-color: #1e1e1e !important;
    border-radius: 10px !important;
    height: 75px !important;
    z-index: 1;                                                      /*PULLS HEADER TO FRONT. MIGHT BE TEMPORARY*/
}

.header-dropdown {
    background-color: #1e1e1e !important; 
    color: white !important;
    padding-top: 35px !important;
    border-radius: 0px 0px 10px 10px !important;
}


@media (max-width: 850px) {  
    .hide-mobile {
        display: none !important;
    }
    .display-mobile {
        display: block !important;
    }
    .square-bottoms {
       border-radius: 10px 10px 0px 0px !important;
    }
    
}

@media (max-width: 500px) {  
    .header-title h1 {
        font-size: 24px;
    }
    .header-title h4 {
        font-size: 14px;
    }
}

@media (max-width: 420px) {  
    .header-title {
        display: none;
    }
    .tiny-screen {
        text-align: center;
    }
}




.full-width {
    width: 100% !important;
}



header {
    padding-top: 40px;
}



.header-links li {
    padding-left: 15px !important;
}

.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-right-10 {
    padding-right: 10px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}
.white-text {
    color: #ffffff !important;
}
.valign-center {
    display: flex !important;
    align-items: center !important;
}
.no-margin {
    margin: 0px !important;
}